.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'serif'; 
}

.pink-box {
  background-color: #FFC0CB;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  text-align: center;
}

